._ARIC-wrapper {
  width: 60%;
  height: 100px;
  margin: 20px auto;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._ARIC-left-child {
  flex: 1;
  order: 1;
}

._ARIC-mid-child {
  flex: 1;
  order: 2;
}

._ARIC-right-child {
  flex: 1;
  order: 3;
}
