._ARIC-wrapper {
  width: 100%;
  height: 500px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._ARIC-left-child {
  flex: 1;
  order: 1;
}

._ARIC-mid-child {
  flex: 1;
  order: 2;
}

._ARIC-right-child {
  flex: 1;
  order: 3;
}
