._ARIC-wrapper {
  position: relative;
  width: 60%;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
}
.animate {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-left {
  all: unset;
  position: absolute;
  top: 45%;
  left: 5px;
}

.btn-right {
  all: unset;
  position: absolute;
  top: 45%;
  right: 5px;
}
