.wrapper {
    animation-name: animate-wrapper;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slide {
    
    animation-name: animate-slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform-origin: 100% 100%;
}

@keyframes animate-slide {
    0% {
        transform: skewX(0)
    }
    50% {
        transform: skewX(15deg)
    }
    100% {
        transform: skewX(0)
    }
}

@keyframes animate-wrapper {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}